.am-intro-bd{background: #fff;border-bottom: 1px solid #eee;}
.fr{ float: right;}
.fr img{ width: 30px;height: 30px;}
.am-intro-left img{
	max-height: 6rem; 
	max-width: 6rem;
	margin: 0 auto;
	/*vertical-align: top;*/
	border: 0;
}
.aui-scroll-content .tab_box > div{
 display: none;
}
.aui-scroll-content .tab_box > div:first-child{
 display: block;
}
.tab_menu ul li.on{
 background: #fff;
 border-left: 0.2rem solid;
 border-left-color: #eb4e4c;
}

.class_img_box{
	height: 6rem;
	display: flex;
	justify-content:center;
	align-items:center;
}

.add-to-car-button{
	padding-top: 3.2rem;
}